USE [master]
GO
/****** Object:  Database [CyberGameManagement]    Script Date: 7/14/2026 6:32:18 PM ******/
CREATE DATABASE [CyberGameManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CyberGameManagement', FILENAME = N'D:\learning_document\my_first_app\cyber_game_management\Database\CyberGameManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CyberGameManagement_log', FILENAME = N'D:\learning_document\my_first_app\cyber_game_management\Database\CyberGameManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CyberGameManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CyberGameManagement]
GO
/****** Object:  Table [dbo].[chiTietDonHang]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chiTietDonHang](
	[maChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[maDonHang] [int] NOT NULL,
	[maDichVu] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [decimal](10, 2) NOT NULL,
	[thanhTien]  AS ([soLuong]*[donGia]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[maChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datCho]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datCho](
	[maDatCho] [int] IDENTITY(1,1) NOT NULL,
	[maKhachHang] [int] NOT NULL,
	[thoiGianDat] [datetime] NOT NULL,
	[thoiGianHetHan] [datetime] NOT NULL,
	[tienCoc] [decimal](10, 2) NOT NULL,
	[trangThai] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDatCho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datCho_mayTram]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datCho_mayTram](
	[maDatCho] [int] NOT NULL,
	[maMay] [int] NOT NULL,
 CONSTRAINT [PK_datCho_mayTram] PRIMARY KEY CLUSTERED 
(
	[maDatCho] ASC,
	[maMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dichVu]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dichVu](
	[maDichVu] [int] IDENTITY(1,1) NOT NULL,
	[tenDichVu] [nvarchar](100) NOT NULL,
	[gia] [decimal](10, 2) NOT NULL,
	[loaiDichVu] [nvarchar](50) NULL,
	[hinhAnh] [nvarchar](255) NULL,
	[soLuongTon] [int] NOT NULL,
	[trangThai] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donHang]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donHang](
	[maDonHang] [int] IDENTITY(1,1) NOT NULL,
	[maKhachHang] [int] NOT NULL,
	[maPhien] [int] NULL,
	[maNhanVien] [int] NULL,
	[thoiGianDat] [datetime] NOT NULL,
	[tongTien] [decimal](10, 2) NOT NULL,
	[trangThai] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoaDon]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoaDon](
	[maHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[maKhachHang] [int] NOT NULL,
	[loaiGiaoDich] [nvarchar](30) NOT NULL,
	[soTien] [decimal](10, 2) NOT NULL,
	[phuongThuc] [nvarchar](30) NULL,
	[maNhanVien] [int] NULL,
	[maPhien] [int] NULL,
	[maDonHang] [int] NULL,
	[trangThai] [tinyint] NOT NULL,
	[thoiGianGiaoDich] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoiVien]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoiVien](
	[maHoiVien] [int] IDENTITY(1,1) NOT NULL,
	[maKhachHang] [int] NOT NULL,
	[hangThanhVien] [nvarchar](20) NOT NULL,
	[diemTichLuy] [int] NOT NULL,
	[ngayNangHang] [datetime] NULL,
	[phanTramGiamGia] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoiVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachHang]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachHang](
	[maKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[maNguoiDung] [int] NOT NULL,
	[soDu] [decimal](12, 2) NOT NULL,
	[trangThaiOnline] [tinyint] NOT NULL,
	[ngayDangKy] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khuVuc]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khuVuc](
	[maKhuVuc] [int] IDENTITY(1,1) NOT NULL,
	[tenKhuVuc] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khuyenMai]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khuyenMai](
	[maKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[tenKhuyenMai] [nvarchar](150) NOT NULL,
	[loaiKhuyenMai] [nvarchar](30) NOT NULL,
	[giaTri] [decimal](10, 2) NOT NULL,
	[hangThanhVienApDung] [nvarchar](20) NULL,
	[ngayBatDau] [datetime] NOT NULL,
	[ngayKetThuc] [datetime] NOT NULL,
	[soLuongToiDa] [int] NULL,
	[dieuKienApDung] [nvarchar](255) NULL,
	[trangThai] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lichSuBaoTri]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lichSuBaoTri](
	[maLichSuBaoTri] [int] IDENTITY(1,1) NOT NULL,
	[maMay] [int] NOT NULL,
	[maNhanVien] [int] NULL,
	[lyDo] [nvarchar](200) NULL,
	[moTaChiTiet] [nvarchar](max) NULL,
	[thoiGianBatDau] [datetime] NOT NULL,
	[thoiGianKetThuc] [datetime] NULL,
	[trangThai] [tinyint] NOT NULL,
	[chiPhiSuaChua] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLichSuBaoTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mayTram]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mayTram](
	[maMay] [int] IDENTITY(1,1) NOT NULL,
	[tenMay] [nvarchar](20) NOT NULL,
	[maKhuVuc] [int] NOT NULL,
	[cpu] [nvarchar](100) NULL,
	[gpu] [nvarchar](100) NULL,
	[ram] [int] NULL,
	[fps] [int] NULL,
	[resolution] [varchar](20) NULL,
	[giaTheoGio] [decimal](10, 2) NOT NULL,
	[trangThai] [tinyint] NOT NULL,
	[ngayThem] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoiDung]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoiDung](
	[maNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[hoTen] [nvarchar](100) NULL,
	[soDienThoai] [varchar](15) NULL,
	[email] [nvarchar](100) NULL,
	[maQuyen] [int] NOT NULL,
	[trangThai] [tinyint] NOT NULL,
	[ngayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanVien]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanVien](
	[maNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[maNguoiDung] [int] NOT NULL,
	[caLamViec] [nvarchar](50) NULL,
	[ngayVaoLam] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phanQuyen]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phanQuyen](
	[maQuyen] [int] IDENTITY(1,1) NOT NULL,
	[tenQuyen] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phienChoi]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phienChoi](
	[maPhien] [int] IDENTITY(1,1) NOT NULL,
	[maKhachHang] [int] NOT NULL,
	[maMay] [int] NOT NULL,
	[thoiGianBatDau] [datetime] NOT NULL,
	[thoiGianKetThuc] [datetime] NULL,
	[tongTienGio] [decimal](10, 2) NULL,
	[trangThai] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[troChoi]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[troChoi](
	[maTroChoi] [int] IDENTITY(1,1) NOT NULL,
	[tenTroChoi] [nvarchar](100) NOT NULL,
	[theLoai] [nvarchar](50) NULL,
	[cpuToiThieu] [nvarchar](100) NULL,
	[gpuToiThieu] [nvarchar](100) NULL,
	[ramToiThieu] [int] NULL,
	[fpsDeXuat] [int] NULL,
	[resolutionDeXuat] [varchar](20) NULL,
	[hinhAnh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTroChoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[troChoi_mayTram]    Script Date: 7/14/2026 6:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[troChoi_mayTram](
	[maTroChoi] [int] NOT NULL,
	[maMay] [int] NOT NULL,
 CONSTRAINT [PK_troChoi_mayTram] PRIMARY KEY CLUSTERED 
(
	[maTroChoi] ASC,
	[maMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UQ__hoiVien__0CCB3D489ACB619B]    Script Date: 7/14/2026 6:32:19 PM ******/
ALTER TABLE [dbo].[hoiVien] ADD UNIQUE NONCLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__khachHan__446439EBFCC746F1]    Script Date: 7/14/2026 6:32:19 PM ******/
ALTER TABLE [dbo].[khachHang] ADD UNIQUE NONCLUSTERED 
(
	[maNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nguoiDun__59267D4A56078A12]    Script Date: 7/14/2026 6:32:19 PM ******/
ALTER TABLE [dbo].[nguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__nhanVien__446439EBCB86D48E]    Script Date: 7/14/2026 6:32:19 PM ******/
ALTER TABLE [dbo].[nhanVien] ADD UNIQUE NONCLUSTERED 
(
	[maNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chiTietDonHang] ADD  DEFAULT ((1)) FOR [soLuong]
GO
ALTER TABLE [dbo].[datCho] ADD  DEFAULT (getdate()) FOR [thoiGianDat]
GO
ALTER TABLE [dbo].[datCho] ADD  DEFAULT ((0)) FOR [tienCoc]
GO
ALTER TABLE [dbo].[datCho] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[dichVu] ADD  DEFAULT ((0)) FOR [gia]
GO
ALTER TABLE [dbo].[dichVu] ADD  DEFAULT ((0)) FOR [soLuongTon]
GO
ALTER TABLE [dbo].[dichVu] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[donHang] ADD  DEFAULT (getdate()) FOR [thoiGianDat]
GO
ALTER TABLE [dbo].[donHang] ADD  DEFAULT ((0)) FOR [tongTien]
GO
ALTER TABLE [dbo].[donHang] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[hoaDon] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[hoaDon] ADD  DEFAULT (getdate()) FOR [thoiGianGiaoDich]
GO
ALTER TABLE [dbo].[hoiVien] ADD  DEFAULT (N'Đồng') FOR [hangThanhVien]
GO
ALTER TABLE [dbo].[hoiVien] ADD  DEFAULT ((0)) FOR [diemTichLuy]
GO
ALTER TABLE [dbo].[hoiVien] ADD  DEFAULT ((0)) FOR [phanTramGiamGia]
GO
ALTER TABLE [dbo].[khachHang] ADD  DEFAULT ((0)) FOR [soDu]
GO
ALTER TABLE [dbo].[khachHang] ADD  DEFAULT ((0)) FOR [trangThaiOnline]
GO
ALTER TABLE [dbo].[khachHang] ADD  DEFAULT (getdate()) FOR [ngayDangKy]
GO
ALTER TABLE [dbo].[khuyenMai] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[lichSuBaoTri] ADD  DEFAULT (getdate()) FOR [thoiGianBatDau]
GO
ALTER TABLE [dbo].[lichSuBaoTri] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[mayTram] ADD  DEFAULT ((0)) FOR [giaTheoGio]
GO
ALTER TABLE [dbo].[mayTram] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[mayTram] ADD  DEFAULT (getdate()) FOR [ngayThem]
GO
ALTER TABLE [dbo].[nguoiDung] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[nguoiDung] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[phienChoi] ADD  DEFAULT (getdate()) FOR [thoiGianBatDau]
GO
ALTER TABLE [dbo].[phienChoi] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[chiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ctdh_dichVu] FOREIGN KEY([maDichVu])
REFERENCES [dbo].[dichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[chiTietDonHang] CHECK CONSTRAINT [FK_ctdh_dichVu]
GO
ALTER TABLE [dbo].[chiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ctdh_donHang] FOREIGN KEY([maDonHang])
REFERENCES [dbo].[donHang] ([maDonHang])
GO
ALTER TABLE [dbo].[chiTietDonHang] CHECK CONSTRAINT [FK_ctdh_donHang]
GO
ALTER TABLE [dbo].[datCho]  WITH CHECK ADD  CONSTRAINT [FK_datCho_khachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[khachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[datCho] CHECK CONSTRAINT [FK_datCho_khachHang]
GO
ALTER TABLE [dbo].[datCho_mayTram]  WITH CHECK ADD  CONSTRAINT [FK_dcmt_datCho] FOREIGN KEY([maDatCho])
REFERENCES [dbo].[datCho] ([maDatCho])
GO
ALTER TABLE [dbo].[datCho_mayTram] CHECK CONSTRAINT [FK_dcmt_datCho]
GO
ALTER TABLE [dbo].[datCho_mayTram]  WITH CHECK ADD  CONSTRAINT [FK_dcmt_mayTram] FOREIGN KEY([maMay])
REFERENCES [dbo].[mayTram] ([maMay])
GO
ALTER TABLE [dbo].[datCho_mayTram] CHECK CONSTRAINT [FK_dcmt_mayTram]
GO
ALTER TABLE [dbo].[donHang]  WITH CHECK ADD  CONSTRAINT [FK_donHang_khachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[khachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[donHang] CHECK CONSTRAINT [FK_donHang_khachHang]
GO
ALTER TABLE [dbo].[donHang]  WITH CHECK ADD  CONSTRAINT [FK_donHang_nhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[nhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[donHang] CHECK CONSTRAINT [FK_donHang_nhanVien]
GO
ALTER TABLE [dbo].[donHang]  WITH CHECK ADD  CONSTRAINT [FK_donHang_phienChoi] FOREIGN KEY([maPhien])
REFERENCES [dbo].[phienChoi] ([maPhien])
GO
ALTER TABLE [dbo].[donHang] CHECK CONSTRAINT [FK_donHang_phienChoi]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_donHang] FOREIGN KEY([maDonHang])
REFERENCES [dbo].[donHang] ([maDonHang])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_donHang]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_khachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[khachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_khachHang]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_nhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[nhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_nhanVien]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_phienChoi] FOREIGN KEY([maPhien])
REFERENCES [dbo].[phienChoi] ([maPhien])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_phienChoi]
GO
ALTER TABLE [dbo].[hoiVien]  WITH CHECK ADD  CONSTRAINT [FK_hoiVien_khachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[khachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[hoiVien] CHECK CONSTRAINT [FK_hoiVien_khachHang]
GO
ALTER TABLE [dbo].[khachHang]  WITH CHECK ADD  CONSTRAINT [FK_khachHang_nguoiDung] FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[nguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[khachHang] CHECK CONSTRAINT [FK_khachHang_nguoiDung]
GO
ALTER TABLE [dbo].[lichSuBaoTri]  WITH CHECK ADD  CONSTRAINT [FK_lichSuBaoTri_mayTram] FOREIGN KEY([maMay])
REFERENCES [dbo].[mayTram] ([maMay])
GO
ALTER TABLE [dbo].[lichSuBaoTri] CHECK CONSTRAINT [FK_lichSuBaoTri_mayTram]
GO
ALTER TABLE [dbo].[lichSuBaoTri]  WITH CHECK ADD  CONSTRAINT [FK_lichSuBaoTri_nhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[nhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[lichSuBaoTri] CHECK CONSTRAINT [FK_lichSuBaoTri_nhanVien]
GO
ALTER TABLE [dbo].[mayTram]  WITH CHECK ADD  CONSTRAINT [FK_mayTram_khuVuc] FOREIGN KEY([maKhuVuc])
REFERENCES [dbo].[khuVuc] ([maKhuVuc])
GO
ALTER TABLE [dbo].[mayTram] CHECK CONSTRAINT [FK_mayTram_khuVuc]
GO
ALTER TABLE [dbo].[nguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_nguoiDung_phanQuyen] FOREIGN KEY([maQuyen])
REFERENCES [dbo].[phanQuyen] ([maQuyen])
GO
ALTER TABLE [dbo].[nguoiDung] CHECK CONSTRAINT [FK_nguoiDung_phanQuyen]
GO
ALTER TABLE [dbo].[nhanVien]  WITH CHECK ADD  CONSTRAINT [FK_nhanVien_nguoiDung] FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[nguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[nhanVien] CHECK CONSTRAINT [FK_nhanVien_nguoiDung]
GO
ALTER TABLE [dbo].[phienChoi]  WITH CHECK ADD  CONSTRAINT [FK_phienChoi_khachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[khachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[phienChoi] CHECK CONSTRAINT [FK_phienChoi_khachHang]
GO
ALTER TABLE [dbo].[phienChoi]  WITH CHECK ADD  CONSTRAINT [FK_phienChoi_mayTram] FOREIGN KEY([maMay])
REFERENCES [dbo].[mayTram] ([maMay])
GO
ALTER TABLE [dbo].[phienChoi] CHECK CONSTRAINT [FK_phienChoi_mayTram]
GO
ALTER TABLE [dbo].[troChoi_mayTram]  WITH CHECK ADD  CONSTRAINT [FK_tcmt_mayTram] FOREIGN KEY([maMay])
REFERENCES [dbo].[mayTram] ([maMay])
GO
ALTER TABLE [dbo].[troChoi_mayTram] CHECK CONSTRAINT [FK_tcmt_mayTram]
GO
ALTER TABLE [dbo].[troChoi_mayTram]  WITH CHECK ADD  CONSTRAINT [FK_tcmt_troChoi] FOREIGN KEY([maTroChoi])
REFERENCES [dbo].[troChoi] ([maTroChoi])
GO
ALTER TABLE [dbo].[troChoi_mayTram] CHECK CONSTRAINT [FK_tcmt_troChoi]
GO
USE [master]
GO
